# git tag prefix
tag-version-prefix=""

# disable package-lock.json
package-lock=false

# saved dependencies will be configured with an exact version
# rather than using npm’s default semver range operator
save-exact=true
