@import "module/scrollbar.css";

body {
    margin: 0;
    font-size: 1rem;
    font-family: "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    line-height: 1.6;
    color: #3b3c40;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: "Helvetica Neue", "Segoe UI", Arial, "Microsoft JhengHei", sans-serif;
}

a {
    color: #21b3a3;
    border-bottom: 1px dotted;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: #e8554e;
}

#changelog:target {
    background-color: #fff5cc;
}

#controller {
    margin: 1em auto;
    max-width: 45em;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
}

#controller h2:not(:first-of-type) {
    padding-top: 1em;
}

.faq ul li:nth-of-type(even) {
    list-style-type: none;
}

.changelog {
    padding: 0 1em;
    box-sizing: border-box;
}

.changelog h4 {
    margin-top: 1em;
    margin-bottom: 0;
    padding-top: 0.2em;
}

.changelog ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}
